@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --font-color-white: #efefef;
  --font-color-black: #111;
  --font-color-gray: #aaa;
  --background-color-white: #efefef;
  --background-color-black: #111;
  --background-color-hover: #bbb;
  --background-color-modal: #009688;
  --background-color-modal-close: #f44336;
  --columns: 3;
}

html {
  scroll-behavior: smooth;
}


body {  
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--font-color-white);
}

input[type="text"] {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid var(--background-color-hover);
  outline: none;
}

button {
  border: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--background-color-black);
  width: 100%;
  z-index: 1;
}

.nav-menu {
  float: left;
}

.nav-search {
  float: right;
}

.nav-menu ul {
  list-style: none;
}

.nav-menu ul li {
  float: left;
}

.nav-menu ul li:nth-child(5) {
  display: none;
}

#nav-menu-bars {
  display: none;
}

.nav-menu ul li a {
  display: block;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

#nav-menu-home a{
  line-height: 16px;
}

@media only screen and (max-width: 767px) {
  .nav-menu ul li {
    float: none;
  }

  .nav-menu ul li:not(:first-child) {
    display: none;
  }

  .nav-menu ul li:first-child::after {
    display: table;
    content: "";
    clear: both;
  }

  .nav-menu ul li a {
    width: 100%;
  }

  .pull-to-right i {
    color: var(--font-color-white);
    padding: 10px;
    display: block;
  }

  .pull-to-right i:hover {
    color: var(--font-color-black);
    background: var(--background-color-white);
  }

  .nav-menu {
    float: none;
  }

  .nav-search {
    float: none;
    display: none;
  }

  .dropdown {
    display: none;
  }

  #nav-menu-bars {
    display: block;
  }
}

.nav-menu ul li a:hover {
  background: var(--background-color-white);
  color: var(--font-color-black);
}

.dropdown .submenu {
  position: absolute;
  background: var(--background-color-white);
  display: none;
}

.dropdown .submenu a {
  color: var(--font-color-black);
  text-transform: capitalize;
}

.dropdown .submenu a:hover {
  background: var(--background-color-hover);
}

.dropdown:hover .submenu {
  display: block;
}

.dropdown:hover > a {
  background: var(--background-color-white);
  color: var(--font-color-black);
}

.nav-search a {
  display: block;
  padding: 8px 12px;
}

.nav-search a:hover {
  background: orangered;
}

.slider {
  background-image: url("https://www.w3schools.com/w3images/la.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 50%;
  padding-bottom: 30px;
  background-repeat: no-repeat;
}

.slider .slider-place {
  text-align: center;
  font-size: 1.2rem;
  color: var(--font-color-white);
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.slider .slider-brief {
  text-align: center;
  font-size: 0.8rem;
  color: var(--font-color-white);
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .slider .slider-place {
    display: none;
  }

  .slider .slider-brief {
    display: none;
  }
}

.wrapper {
  padding: 10px;
  max-width: 768px;
  margin: 0 auto;
}

.band .band-title {
  text-align: center;
  font-size: 1.6rem;
  color: var(--font-color-black);
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.band .band-brief {
  text-align: center;
  font-size: 0.7rem;
  color: var(--font-color-gray);
  font-weight: 300;
  text-transform: capitalize;
  font-style: italic;
  margin: 15px 0;
}

.band .band-desc {
  text-align: justify;
  font-size: 0.8rem;
  line-height: 1.6;
}

.band-albums {
  overflow: hidden;
  margin: 50px 0;
}

.band-album {
  width: calc(100% / var(--columns));
  float: left;
}

@media only screen and (max-width: 767px) {
  .band-album {
    width: calc(100%);
  }
}

.band-album .band-album-title {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 15px;
}

.band-album .band-album-img {
  text-align: center;
}

.band-album .band-album-img img {
  width: 50%;
  border-radius: 5px;
}

.tour .tour-title {
  text-align: center;
  font-size: 1.6rem;
  color: var(--font-color-white);
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tour .tour-brief {
  text-align: center;
  font-size: 0.7rem;
  color: var(--font-color-gray);
  font-weight: 300;
  text-transform: capitalize;
  font-style: italic;
  margin: 15px 0;
}

ul.tour-tickets {
  list-style: none;
}

ul.tour-tickets li.tour-ticket {
  background: var(--background-color-white);
  padding: 8px;
  overflow: hidden;
}

ul.tour-tickets li.tour-ticket:not(:last-child) {
  border-bottom: 1px solid var(--background-color-hover);
}

.tour-ticket .tour-ticket-date {
  font-size: 0.8rem;
  color: var(--font-color-gray);
  margin-right: 10px;
}

.tour-ticket .tour-ticket-sold {
  font-size: 0.8rem;
  color: var(--font-color-white);
  background: red;
  padding: 2px 6px;
}

.tour-ticket .tour-ticket-quantity {
  border-radius: 50%;
  background: var(--background-color-black);
  color: white;
  padding: 3px 8px;
}

.tour-shows {
  padding: 20px 0;
  overflow: hidden;
  margin-left: -15px;    
}

.tour-show {
  float: left;
  width: calc(calc(100% / var(--columns)) - 15px);
  background: var(--background-color-white);
  margin: 15px 0 0 15px;      
}

@media only screen and (max-width: 767px) {
  .tour-show {
    width: calc(100% - 5px);
  }
}

.tour-show img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  flex-shrink: 0;
}

.tour-show img:hover {
  opacity: 0.8;
}

.tour-show-info {
  padding: 15px;
}

.tour-show-info h1 {
  font-size: 0.8rem;
  color: var(--font-color-black);
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.tour-show-info h3 {
  font-size: 0.8rem;
  color: var(--font-color-gray);
  font-weight: 400;
  margin: 15px 0;
}

.tour-show-info p {
  font-size: 0.8rem;
  color: var(--font-color-black);
  font-weight: 400;
  margin: 5px 0;
  line-height: 1.6;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.btn {
  padding: 8px 14px;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
  -webkit-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.3);
}

.btn-primary:hover {
  background: var(--background-color-hover);
  color: var(--font-color-black);
}

.contact {
  margin: 40px 0;
  overflow: hidden;
}

.contact .contact-title {
  text-align: center;
  font-size: 1.6rem;
  color: var(--font-color-black);
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contact .contact-brief {
  text-align: center;
  font-size: 0.7rem;
  color: var(--font-color-gray);
  font-weight: 300;
  text-transform: capitalize;
  font-style: italic;
  margin: 15px 0;
}

.contact-info,
.contact-form {
  float: left;
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .contact-info,
  .contact-form {
    width: 100%;
  }
}

.contact-info ul {
  list-style: none;
}

.contact-info ul li {
  margin-bottom: 10px;
}

.contact-info ul li .contact-icon {
  font-size: 0.8rem;
  margin-right: 10px;
}

.contact-info ul li .contact-detail {
  font-size: 0.9rem;
}

.contact-form .contact-form-row {
  display: flex;
}

.contact-form-row .contact-form-column {
  width: 100%;
  margin-bottom: 10px;
}

.contact-form-name {
  width: 95% !important;
}

.map {
  width: 100%;
}

.footer {
  text-align: center;
  padding: 50px;
}

.footer .social-networks a {
  font-size: 1.2rem;
  color: var(--font-color-black);
  margin: 15px 0;
  display: inline-block;
}

.footer .social-networks a:hover {
  color: var(--font-color-gray);
}

.footer .copyright {
  font-size: 0.8rem;
  color: var(--font-color-gray);
}

.footer .copyright a {
  text-decoration: underline;
  color: var(--font-color-gray);
}

.btn-primary {
  background: var(--background-color-black);
  color: white;
}

.btn-info {
  background: var(--background-color-modal);
  color: white;
}

.btn-danger {
  background: var(--background-color-modal-close);
  color: white;
}

.bg-black {
  background: var(--background-color-black);
}

.pull-to-left {
  float: left;
}

.pull-to-right {
  float: right;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-50 {
  margin-top: 50px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-50 {
  padding-top: 50px;
}

.p-50 {
  padding: 50px 0;
}

.w-100 {
  width: 100%;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;  
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  display: none;  
  justify-content: center;    
  align-items: center;
}

.modal-container {
  background: white;
  width: calc(100% - 36px);  
  max-width: 800px;
  min-height: 200px;
  animation: fadeIn ease 0.5s;  
}

@keyframes fadeIn {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

.modal-header{
  background: var(--background-color-modal);
  position: relative;
  padding: 50px 0;
}

.modal-header a {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
}

.modal-header h1 {
  color: var(--font-color-white);
  text-align: center;
  font-size: 30px;
}

.modal-body{  
  padding: 20px 15px 10px 15px;
}

.modal-body-row{
  padding: 10px 0;
}

.modal-body-cell .modal-input{
  margin-top: 10px;
}

.modal-body-cell i{
  font-size: 14px;
}

.modal button {
  padding: 16px;
  cursor: pointer;
}

.modal button:hover {
  background: var(--background-color-hover);
}

.modal-footer{
  margin: 20px 0 5px 0;
  overflow: hidden;
}

.modal-footer > a {
  padding: 12px 15px;
}

.modal-footer .help a {
  text-decoration: underline;
  color: #2196F3;
}
